<div class="card">
   <div class="card-body">

    <h1>ABOUT  </h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nihil dolorem ratione enim officia blanditiis unde 
        cupiditate adipisci distinctio, quidem vel quas voluptas 
        quae sequi excepturi at vitae quo fugiat aut et, nostrum, 
        eaque ipsam. Ducimus nemo quo quisquam in veniam.
    </P>
    </div>
</div>