<div class="jumbotron mt-4">
        <h1 class="display-4">notes app nojdes and mongosdb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur similique at ipsam eius nulla consequuntur modi. Ipsum inventore totam aut! Repudiandae laudantium repellendus laborum dolorem reiciendis excepturi. Aut, cum voluptate.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">buscador</a>
</div>
